<div class="row">
<div class="card col-10">
  <%= image_tag "minions.jpg", class:'img-fluid' %>
  <div class="card-body">
    <h2 class="card-title"><%= "Name: #{@user.name}" %></h2>
    <h3 class="card-text">Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </div>
</div>
<div class="col-2">
<% unless @button_class.nil? %>
  <%= link_to @route do %> 
    <%= button_tag @button_message, type: 'button', class: @button_class %>
  <% end %>
<% end %>

</div>
</div>