<div class="row">
<div class="card col-10">
  <%= image_tag "minions.jpg", class:'img-fluid' %>
  <div class="card-body">
    <h2 class="card-title"><%= "Name: #{@user.name}" %></h2>
    <h3 class="card-text">Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </div>
</div>
<div class="col-2">
  <% unless @show_hash[:button_class].nil? %>
    <%= link_to @show_hash[:route] do %> 
      <%= button_tag @show_hash[:button_message], type: 'button', class: @show_hash[:button_class] %>
    <% end %>
  <% end %>
  <% if @show_decline %>
  <%= link_to destroy_friendship_path(@friendship) do %> 
      <%= button_tag 'Decline', type: 'button', class: 'btn btn-danger btn-lg' %>
    <% end %>
  <% end %>
</div>
</div>